<div class = "banner">
  <h1>Your Lists</h1>
  <video id="background-video" autoplay loop muted poster="https://github.com/daniel-enqz/rails-watch-list/blob/master/app/assets/images/The%20Most%20Beautiful%20Shots%20In%20Movie%20History.jpg">
    <source src="https://github.com/daniel-enqz/rails-watch-list/blob/master/app/assets/images/The%20Most%20Beautiful%20Shots%20In%20Movie%20History.mp4" type="video/mp4">
  </video>
</div>


<% @lists.each do |list| %>
  <div class="card">
    <%= list.name %>
    <%= link_to "See details", list_path(list), class: "btn btn-primary"%>
  </div>
<% end %>



<%= link_to "Add List", new_list_path, class: "btn btn-primary"%>
