<div class = "banner">
  <h1>Your Lists</h1>
  <video class="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
    <source src="<%= video_path "main_banner.mp4" %>" type="video/mp4">
  </video>
</div>

<div class="main-container">
  <div class="list-cards">
    <% @lists.each do |list| %>
      <div class="list-card">
        <%= link_to list.name, list_path(list), class:"link" %>
        <%= link_to '&times;'.html_safe, list_path(list), class: "card-remove-link", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <div class="list-card bg-dark">
      <%= link_to "Add List", new_list_path, class:"add_list_link" %>
    </div>
  </div>
</div>
