.banner {
  position: relative;

  h1 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 50px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .back-button-addons
  {
    background-color: black;
    font-weight: bolder;
    position: absolute;
    border-radius: 10px;
    bottom: 10%;
    right: 5%;

    &:hover{
      background-color: white;
      color: white;
      -webkit-transform: translateY(-3px);
	    transform: translateY(-3px);
      transition: ease;
    }
  }

  #background-video {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}
